/* 
App header
*/

.App-header {
  background-color: #4990E2;
}

.App-header h1 {
  text-align: center;
  padding: 8px;
  margin: 0;
  text-transform: uppercase;
}

.App-header h1 a {
  color: #fff;
  text-decoration: none;
}

/* 
Headline, fontface element
*/

h2 {
  font-weight: 400;
  text-align: center;
  font-size: 40px;
}

.headline-big {
  font-size: 60px;
  margin: 70px 20px 5px;
}

.headline-left,
.headline-right {
    display: inline-block;
    color: grey;
    text-transform: uppercase;
    margin: 10px 0 0 0;
}

.headline-left {
    margin-left: 105px;
}

@media only screen and (max-width: 520px) {
  .headline-left {
     margin-left: 50px;
  }
}

.headline-right {
    float: right;
    margin-right: 25px;
}

p {
  font-weight: 300;
  font-size: 24px;
}

/* 
Main
*/

.container {
  max-width: 800px;
  margin: 0 auto;
}

main {
  max-width: 800px;
  margin: 0 auto;
  border: 5px solid #4990E2;
  border-radius: 10px;
  background-color: #fff;
}

@media only screen and (max-width: 800px) {
  main {
    margin: 0 15px;
  }
}

main p {
  padding: 0 10px;
  text-align: center;
}

.url {
  padding: 8px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
}

footer {
  text-align: center;
  padding-top: 40px; 
  margin: 0 10px;
}

footer a {
  color: #407DC0;
}