/* 
App Best
*/

.App-best {
    text-align: center;
}

ol {
    padding-left: 0;
    padding-bottom: 8px;
    list-style: none;
    counter-reset: my-awesome-counter;
    overflow: auto;
}

.best-detail ol {
    height: 435px;
}

li {
    background-color: #DBE8F8;
    padding: 14px 20px;
    text-align: left;
    counter-increment: my-awesome-counter;
    font-size: 25px;
    cursor: pointer;
}

li::before {
    content: counter(my-awesome-counter) " ";
    padding: 0 40px 0 30px;
}

li:nth-child(even) {
    background-color: #ECF3FD;
}

li.active {
    background-color: #4990E2;
    font-size: 45px;
    color: #fff;
}

li.active::before {
    padding: 0 30px 0 20px;
}

@media only screen and (max-width: 520px) {
  li::before,
  li.active::before {
    padding: 0 10px 0 0;
  }
}

@media only screen and (max-width: 520px) {
  li.active,
  li.active::before {
    font-size: 25px;
  }
}

li .click {
    float: right;
}

li .number {
    padding-right: 30px;
}

.items {
    padding: 0 20px 0 55px;
    height: 45px;
}

.items p {
    display: inline-block;
    float: right;
    color: grey;
}

.items p:first-child {
    float: left;
}
/* 
Headline TopTen
*/
.topten {
    text-align: center;
    margin-top: 70px;
  }
  
@media only screen and (max-width: 800px) {
  .topten{
      margin-top: 20px;
  }
}
  .topten h2 {
    padding: 15px 30px;
    background: #4990E2;
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 25px;
  }

  @media only screen and (max-width: 450px) {
    .topten h2{
        padding: 15px 13px;
    }
  }

  .topten h2::before,
  .topten h2::after {
    content: '';
    background: #407DC0;
    width: 100px;
    height: 57px;
    position: absolute;
    top: 17px;
  }

  @media only screen and (max-width: 450px) {
    .topten h2::before,
    .topten h2::after {
        width: 50px;
    }
  }
  
  .topten h2::before {
    left: -80px;
  }

  @media only screen and (max-width: 450px) {
    .topten h2::before{
        left: -40px;
    }
  }

  .topten h2::after {
    right: -80px;
  }

  @media only screen and (max-width: 450px) {
    .topten h2::after{
        right: -40px;
    }
  }
  
  .triangel {
    position: relative;
    display: inline-block;
  }

  .triangel::before,
  .triangel::after {
    content: "\A";
    border-style: solid;
    position: absolute;
    top: 38px;
  }
  
  .triangel::before {
    border-width: 29px 0 28px 25px;
    border-color: transparent transparent transparent #ffffff ;
    left: -81px;
    z-index: 1;
  }

@media only screen and (max-width: 450px) {
  .triangel::before{
      left: -41px;
  }
}
 
.triangel::after {
  border-width: 29px 25px 28px 0;
  border-color: transparent #ffffff transparent transparent;
  right: -81px;
}

@media only screen and (max-width: 450px) {
  .triangel::after{
      right: -41px;
  }
}