/* 
Detail, button, counter area
*/
.button-area {
    padding: 20px 25px;
}

.button-area button {
    width: 100%;
    background: #4990E2;
    color: #fff;
    font-size: 48px;
    border-radius: 10px;
    line-height: 150px;
    cursor: pointer;
    text-transform: uppercase;
}

.counter-area {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 20px;
}

.counter-area h3 {
    font-weight: 300;
    margin-bottom: 0;
    font-size: 30px;
}

@media only screen and (max-width: 520px) {
    .counter-area h3 {
        font-size: 25px;
    }
}

.counter-area p {
    color: #4990E2;
    font-weight: 700;
    font-size: 60px;
    margin: 15px 0 35px 0;
}

@media only screen and (max-width: 520px) {
    .counter-area p {
        font-size: 30px;
    }
}