/* 
App form
*/
.App-form {
    position: relative;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 18px;
    font-size: 23px;
}

input {
    border-radius: 10px;
    width: 50%;
    font-size: 23px;
    padding: 10px 20px;
}

@media only screen and (max-width: 800px) {
    input {
        width: 40%;
    }
}

@media only screen and (max-width: 520px) {
    input {
        width: 90%;
    }
}

input:focus {
    outline-color: #fff;
}

input[type='submit'] {
    text-align: center;
    background-color: #4990E2;
    padding: 17px; 
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    width: 40%;
}

@media only screen and (max-width: 520px) {
    input[type='submit'] {
        position: relative;
        width: 100%;
        right: 0;
        bottom: 0;
        margin-top: 20px;
    }
}