/* 
App Motto
*/
.App-motto {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0 25px;
}

@media only screen and (max-width: 800px) {
  .App-motto {
    margin: 0 10px;
  }
}

.App-motto-autor {
    text-align: right;
    margin-right: 20%;
}

@media only screen and (max-width: 650px) {
  .App-motto-autor {
    margin-right: 10%;
  }
}

.App-motto p {
  line-height: 38px;
}
